All Yards<br />
<input type="checkbox" [(ngModel)]="displayGreen">Green<br>
<input type="checkbox" [(ngModel)]="displayBlue">Blue<br>
<input type="checkbox" [(ngModel)]="displayRed">Red<br>
<input type="checkbox" [(ngModel)]="displayYellow">Yellow<br />
<input [(ngModel)]="search" placeholder="Search..." />
<div *ngFor="let y of filterYards()">
  <app-card-link [link]="'Yard'" [data]="y.id" [title]="y.name" [color]="getColor(y)"></app-card-link>
</div>
<br />
<app-add-yard (added)="onAdd($event)"></app-add-yard>
