.action-container {
  background-image: url("../../../assets/honeycomb1.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

button{
    width: 120px;
    margin-top: 5px;
    margin-right: 5px;
}

select {
  width: 250px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

input {
  width: 250px;
  margin-top: 5px;
  margin-right: 5px;
}
