<div>
  <div class="page-header">
    <h1>Hives In {{h.name}}</h1>
  </div>
  <div>
    <b>
      <label><input type="checkbox" [(ngModel)]="displayRed">&nbsp; - Immediate Attention &nbsp;</label>
      <label><input type="checkbox" [(ngModel)]="displayYellow">&nbsp; - Overdue For Inspection &nbsp;</label>
      <label><input type="checkbox" [(ngModel)]="displayBlue">&nbsp; - No Issues &nbsp;</label>
      <label><input type="checkbox" [(ngModel)]="displayGreen">&nbsp; - All Hives Inspected &nbsp;</label>
    </b>
  </div>
  <div class="action-container">
    <app-card-link *ngFor="let h of filterHives()" [link]="'Hive'" [data]="h.id" [title]="h.name" [color]="getColor(h)"></app-card-link>
  </div>
  <br />
  <app-add-hive *ngIf="user_data.loggedIn.permissions?.includes('leader')" [location_id]="location_id" (added)="onAdd($event)"></app-add-hive>
</div>


