/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

body {
  background-image: url("..\src\assets\flowerstream.png" );
  background-repeat: no-repeat;
  background-size: cover;  
}

.slide-in-left {
  animation: slide-in-left 6.5s infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bottom-bee{
    top: 80vh;
    left: 0%;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@keyframes slide-in-left {
  0% {
    /*transform: translateX(-1000px);*/
    transform: translateX(-10vw);
    opacity: 0;
  }

  50%{
      transform: translateX(50vw);
      opacity: 1;
  }

  100% {
   /* transform: translateX(1300px);*/
   transform: translateX(110vw);
    opacity: 0;
  }
}

