/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

button {
  background-image: url('assets/Images/HCButtonWhite.png');
  background-size:cover;
  background-repeat:no-repeat;
  color: black;
  font-weight: bold;
}

.inner-container {
  position: relative;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  min-height: 100vh;
}

.container {
    top: 80px;
    position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  min-width: 95%;
  height: 100%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

nav {
  /*background-image: url('assets/Images/HoneyCombs.jpeg');
  background-position: center;
  background-size: cover;*/
  background-color: rgb(232, 210, 20);
}

.navbar-brand:hover {
  background-color: black;
  color: rgb(232, 210, 20);
  border: groove;
  border-color: rgb(232, 210, 20);
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-brand {
  color: black;
  font-weight: 700;
}

.nav-item:hover {
  /* background-color: black;
  color: yellow;
  border: groove;
  border-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;*/
}

.nav-link {
  color: black;
  font-weight: 700;
}

  .nav-link:active {
    color: rgb(232, 210, 20);
  }

  .nav-link:hover {
    background-color: black;
    color: rgb(232, 210, 20);
    border: groove;
    border-color: rgb(232, 210, 20);
    padding-top: 5px;
    padding-bottom: 5px;
  }

body {
  background-image: url("..\src\assets\flowerstream.png" );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.slide-in-left {
  animation: slide-in-left 6.5s infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  left: 0%;
  position: fixed;
}

.slide-in-right {
  animation: slide-in-left reverse 8.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
  left: 0%;
  position: fixed;
}

.bottom-bee{
    top: 80vh;
}

.top-bee{
    top: 40vh;
}


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@keyframes slide-in-left {
  0% {
    z-index:1;
    transform: translateX(-10vw);
    opacity: 0;
  }

  50% {
    z-index: 1;
    transform: translateX(50vw);
    opacity: 1;
  }

  100% {
    z-index: 1;    
    transform: translateX(110vw);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@keyframes slide-in-right {
  0% {
    z-index: 1;
    transform: translateX(110vw);
    opacity: 0;
  }

  50% {
    z-index: 1;
    transform: translateX(50vw);
    opacity: 1;
  }

  100% {
    z-index: 1;
    transform: translateX(-10vw);
    opacity: 1;
  }
}

.page-header {
  width: auto;
}

.left-button {
  position: relative;
  float: left;
}
