<div class="action-container">
  <h2>Add A Hive</h2>

  <input [ngClass]="{'error': nameError}" placeholder="Name" (keyup.enter)="addHive()" [(ngModel)]="new_hive.name" />
  <br />
  <br />
  <input [ngClass]="{'error': intervalError}" placeholder="Inspection Interval" (keyup.enter)="addHive()" [(ngModel)]="new_hive.inspection_interval" />
  <br />
  <br />
  <input placeholder="Genetics" (keyup.enter)="addHive()" [(ngModel)]="new_hive.genetics" />
  <br />
  <br />
  <button (click)="addHive()">Add Hive</button>
</div>
