.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 5px 5px 5px 5px;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  overflow:hidden;
}

  .box a:link {
    text-decoration: none;
  }

  .box a:visited {
    text-decoration: none;
  }

  div{
      z-index:2;
  }

.blueCard {
  background-color: rgba(51, 138, 255, 0.85);
}

.redCard {
  background-color: rgba(255, 34, 27, 0.60);
}

.greenCard {
  background-color: rgba(86, 255, 27, 0.60);
}

.yellowCard {
  background-color: rgba(248, 255, 27, 0.60);
}
