Primary Action:<select [(ngModel)]="new_action.primary_action_id" (change)="getSecondaryActions()">
  <option *ngFor="let a of primary_action_list" [value]="a.id">{{a.name}}</option>
</select>
<br />
Secondary Action:<select [(ngModel)]="new_action.secondary_action_id" (change)="getTertiaryActions()">
  <option *ngFor="let a of secondary_action_list" [value]="a.id">{{a.name}}</option>
</select>
<br />
Tertiary Action:<select [(ngModel)]="new_action.tertiary_action_id">
  <option *ngFor="let a of tertiary_action_list" [value]="a.id">{{a.name}}</option>
</select>
<br />
<textarea [(ngModel)]="new_action.comments" placeholder="Comments"></textarea>
<br/>
<button (click)="addAction()">Submit</button>
