<div class="action-item">
  {{action.primary_action_name}} - {{action.secondary_action_name}} - {{action.tertiary_action_name}}
  <br />
  <ng-container *ngIf="user_data.loggedIn.permissions?.includes('leader')">
    Entered By: {{action.entered_by_first_name}} {{action.entered_by_last_name}}
    <br />
    <ng-container *ngIf="action.completed">
      Completed By: {{action.completed_by_first_name}} {{action.completed_by_last_name}}
      <br />
    </ng-container>
  </ng-container>
  Entered On: {{action.entry_date | date: 'medium'}}
  <br />
  <ng-container *ngIf="!action.completed">
    Scheduled For: {{action.scheduled_date | date: 'medium'}}
    <br />
  </ng-container>
  <ng-container *ngIf="action.completed">
    Completed On: {{action.completed_date | date: 'medium'}}
    <br />
  </ng-container>
  
  Comments:
  <br />
  {{action.comments}}
  <br />
  <button *ngIf="!action.completed" (click)="complete()">Complete Task</button>
</div>
